@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #000000;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

#root {
  background-color: #000000;
}
